@using ServicesOfBeautySalon.Models
@model List<UserModel>

@{
    ViewBag.Title = "MasterIndex";
}

<style>
    #indexMasterImage {
        height: 300px;
    }
</style>

<div class="container">
    <h2>Master's Index</h2>
    @foreach (var master in Model)
    {
    <div class="row">
        <div class="col-md-3">
            <img  src="~/images/aga.jpg" id="indexMasterImage" />
        
        </div>
        <div class="col-md-5">
            <p><b>ID:</b>  @master.ID</p>
            <p><b>FirstName:</b>  @master.FirstName</p>
            <p><b>LastName:</b>  @master.LastName</p>
            <p><b>Mail:</b>  @master.Mail</p>
            <p><b>Phone:</b>  @master.Phone</p>
            <p><b>RoleID:</b>  @master.RoleID</p>
            <p><b>UserName:</b>  @master.Mail</p>
        </div>
    </div>
    <hr/>
    }

</div>                @*ID = u.ID,
                FirstName = u.FirstName,
                LastName = u.LastName,
                Phone = u.Phone,
                Mail = u.Mail,
                ImageURL = u.ImageURL,
                RoleID = u.RoleID,
                UserName = u.UserName,
                Password = u.Password*@