<h2>Service Index </h2>
@*@using ServicesOfBeautySalon.Models
@model IEnumerable<ServiceModel>

@{
    ViewBag.Title = "IndexForServices";
}

<h2>Services in </h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>SeviceType</th>
            <th>Price</th>
            <th>BeautySalon</th>
            <th>Master</th>
            <th>Discount</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var service in Model)
    {
    <tr>
        <td>@service.ID</td>
        <td>@service.Name</td>
        <td>@service.ServiceTypeID</td>
        <td>@service.Price</td>
        <td>@service.Price</td>
        <td>@service.Price</td>
        <td>@service.Price</td>
        <td>@service.Price</td>
    </tr>
    }


</table>*@
