@using ServicesOfBeautySalon.Models
@model List<UserModel>


@{
    ViewBag.Title = "UserIndexPage";
    ViewBag.PageHeaderText = "All Users";
}

<style>

    /* visited link */
    .bs-action-buttons:visited {
        color: yellow;
    }
    /* mouse over link */
    .bs-action-buttons:hover {
        color: yellow;
    }
    /* selected link */
    .bs-action-buttons:active {
        color: purple;
    }
</style>


@*important don't delete*@

@*<div class="agileits-about-top">
        <div class="container">
            <div class="agileinfo-top-grids" id="servicesinChoosenServiceType">
            </div>

            <div class="wthree_head_section">
                <h3 class="w3l_header">Service <span>types </span></h3>
                <p>Choose your  service type and select the best servce for you.</p>

            </div>

            @foreach (var user in Model)
            {
                <div class="col-sm-4 wthree-top-grid serviceTypeDiv" id="handServiceDiv" onclick="servicesInServiceType(serviceType.ID)">
                    <div id="ServiceTypeImageInIndexDiv">
                        <img class="img-responsive" alt="" src=~/images/@user.ImageURL  id="ServiceTypeImageInIndex"/>
                    </div>
                    <h4 class="serviceTypeName">@user.FirstName</h4>
                    <p>User ID: @user.ID</p>
                    <p>User LastName: @user.LastName</p>
                    <p>User Email: @user.Mail</p>
                </div>
            }
        </div>

    </div>*@


<h2>All Users</h2>
<button class="btn-success bs-action-buttons">@Html.ActionLink("Create New User", "Create", "User",null,new { @class = "bs-action-button-links" })</button>
<hr/>

<table class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Mail</th>
            <th>Phone</th>
            <th>ImageURL</th>
            <th>RoleID</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Actions</th>
        <tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.ID</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Mail</td>
            <td>@user.Phone</td>
            <td><img id="userImageInTD" src="~/images/@user.ImageURL" /></td>
            <td>@user.RoleID</td>
            <td>@user.UserName</td>
            <td>@user.Password</td>
            <td>

                <button class="btn-danger bs-action-buttons">@Html.ActionLink("Delete", "Delete", "User", new { ID = @user.ID }, new { @class = "bs-action-button-links " })</button>
                <button class="btn-info bs-action-buttons">@Html.ActionLink("Edit", "Edit", new { ID = @user.ID }, new { @class = "bs-action-button-links " })</button>
                <button class="btn-warning bs-action-buttons">@Html.ActionLink("Account", "UserAccount", new { ID = @user.ID }, new { @class = "bs-action-button-links " })</button>
            </td>
        </tr>

    }

</table>



