@using ServicesOfBeautySalon.Models
@model IEnumerable<RegistrationModel>


@{
    ViewBag.Title = "RegistrationIndexPage";
}




@*important don't delete*@
@*<div class="agileits-about-top">
    <div class="container">
        <div class="agileinfo-top-grids" id="servicesinChoosenServiceType">
        </div>

        <div class="wthree_head_section">
            <h3 class="w3l_header">Service <span>types </span></h3>
            <p>Choose your  service type and select the best servce for you.</p>

        </div>

        @foreach (var serviceType in Model)
        {
            <div class="col-sm-4 wthree-top-grid serviceTypeDiv" id="handServiceDiv" onclick="servicesInServiceType(serviceType.ID)">
                <div id="ServiceTypeImageInIndexDiv">
                    <img class="img-responsive" alt="" src=~/images/@serviceType.ImageURL  id="ServiceTypeImageInIndex"/>
                </div>
                <h4 class="serviceTypeName">@serviceType.Name</h4>
                <p>Servicetype ID: @serviceType.ID</p>
            </div>
        }
    </div>

</div>*@



<h2>All Registrations</h2>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Actions</th>
        <tr>
    </thead>
    @foreach (var serviceType in Model)
    {
        <tr>
            <td>@serviceType.ID</td>
            <td>@serviceType.StartTime</td>
            <td>@serviceType.EndTime</td>
            <td>
                <a href="~/ServiceType/Edit/@serviceType.ID"> Edit*** need edit </a>
                <button class="btn-success"><a href="~/ServiceType/OneServiceType/@serviceType.ID"> OneRegistration*** need edit</a></button>
                <button class="btn-danger"><a href="~/ServiceType/Delete/@serviceType.ID"> Delete*** need edit</a></button>
            </td>
        </tr>
    }
 
    </table>


<a href="~/ServiceType/Create">Create new Service type</a>
